django
pillow
whitenoise
bootstrap4
django_forms_bootstrap
django-bootstrap4
azure-cognitiveservices-speech
django-storages
#azure-storage-blob
pandas
numpy
torch
transformers
sentencepiece
matplotlib
tqdm
azure-ai-translation-text==1.0.0b1
uuid