{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="Ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialing</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <div class="container">
    <div class="navigation">
      <!-- Menu dropdown -->
      <div class="dropdown">
        <button class="menu-button">Menu</button>
        <div class="dropdown-content">
          <!-- Dropdown menu items -->
          <a href="#">Item 1</a>
          <a href="#">Item 2</a>
          <a href="#">Item 3</a>
        </div>
      </div>

      <!-- Language dropdown -->
      <div class="dropdown">
        <button class="language-button">Language</button>
        <div class="dropdown-content">
          <!-- Dropdown menu items for language selection -->
          <a href="#">한국어</a>
          <a href="#">English</a>
        </div>
      </div>
    </div>

    <!-- Image area -->
    <div class="image-area">
      <img src="{% static 'src/backgorund1.png' %}" alt="Your Image">
    </div>

    <!-- Service area -->
    <div class="service-area">
      <button class="service-button" id="voice_service">음성서비스</button>
      <button class="service-button" id="text_service">글자서비스</button>
    </div>
  </div>
</body>

<script>
  // 버튼이 클릭되면 특정 URL로 리다이렉션하는 함수
  document.getElementById('voice_service').addEventListener('click', function() {
      window.location.href = "{% url 'voice_page' %}";  // 'your_view_name'은 대상 뷰의 이름
  });
  document.getElementById('text_service').addEventListener('click', function() {
      window.location.href = "{% url 'hello_world' %}";  // 'your_view_name'은 대상 뷰의 이름
  }); 
  
  /*
  document.getElementById('voice_service').addEventListener('click', function () {
    window.location.href = 'speech.html';
  });
  */
</script>

</html>