<!DOCTYPE html>
{% load static %}{% csrf_token %}

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>speech-service</title>
    <link rel="stylesheet" href="{% static 'css/voiceOutput.css' %}">
</head>

<body>
    <div class="container">
        <div class="navigation">
            <!-- Logo Image -->
            <div class="logo-container">
                <img src="{% static 'src/logo_text.png' %}" alt="Your Logo" id="logoButton">
            </div>
        </div>

        <button class="close-button" id="closeButton">
            <img src="{% static 'src/close.png' %} " alt="Close" width="20" height="20">
        </button>


        <div class="input_text" id="inputText">
            <!-- 여기에 텍스트를 추가합니다. -->
            <p class="input-label">표준어 번역 결과:</p>
            <p>{{ translation_sentences }}</p>
        </div>


        <!-- 화살표 이미지 추가 -->
        <div class="arrow-image">
            <img id="translation" src="{% static 'src/arrow.png' %}" alt="Arrow Image" width="30" height="auto">
        </div>


        <div class="input_text" >
            <p class="input-label">최종 번역 결과:</p>
            <p id="outputText"></p>
        </div>

        <div class="footer">
            <div class="button-wrapper" id="replayButton">
                <img src="{% static 'src/replay.png' %}" alt="Repeat" width="30" height="30">
                <span id="replay">다시 입력하기</span>
            </div>
        </div>
    </div>

</body>

    <script>
    /*언어 번역*/
    document.getElementById('translation').addEventListener('click', function () {
        console.log("clicked")
        var org_translationSentences = JSON.parse('{{ translation_sentences|safe }}');
        var translationSentences = org_translationSentences['data'].replace('<eos>', '').replace(/ /g,'').replace(/▁/g,' ')
        console.log(translationSentences)
        fetch('/lang_translation/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',  // Django CSRF 토큰 추가
            },
            body: JSON.stringify({data: translationSentences}),               
        }) 
        .then(response => response.json())  
        .then(data => {
            // 여기에서 서버에서 받은 JSON 데이터(data)를 활용하여 원하는 동작을 수행
            console.log(data);

            if(Object.keys(data)[0] == 'transcription') {
                document.getElementById('outputText').innerText = JSON.stringify(data['transcription'], null, 2);
            } else {
                document.getElementById('outputText').innerText = JSON.stringify(data['error'], null, 2);
            }
            // console.log()
            // document.getElementById('inputText').innerText = JSON.stringify(data, null, 2);

        })
        .catch(error => console.error('Error:', error));
    });

    /* 다시 입력페이지로 */
    document.getElementById('replayButton').addEventListener('click', function () {
        window.location.href = "{% url 'voice_page' %}";  // 'your_view_name'은 대상 뷰의 이름
    });

        /* 메인 페이지로 이동 */
        document.getElementById('closeButton').addEventListener('click', function () {
        window.location.href = "{% url 'main_page' %}";  // 'your_view_name'은 대상 뷰의 이름
    });
    
    //상단 로고 클릭하면 start페이지로
    document.getElementById('logoButton').addEventListener('click', function() {
    window.location.href = "{% url 'start_page' %}"; // 'your_view_name'은 대상 뷰의 이름
    });

    </script>


</html>