<!-- templates/my_template.html -->
{% load static %}{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialingo</title>
    <link rel="stylesheet" href="{% static 'css/voice.css' %}">     
</head>

<body>
<!--
    {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img id="micImage" src="{% static 'src/mic.png' %}" alt="Microphone" class="img-fluid mb-3">
                <button id="startButton" class="btn btn-primary">Start Recognition</button>
            </div>
        </div>
        <div class="row justify-content-center" id="output">
        </div>        
    </div>
    {% endblock %}
-->
        
    <div class="container">
        <div class="navigation">
            <!-- Menu dropdown -->
            <div class="dropdown">
                <button class="menu-button">Menu</button>
                <div class="dropdown-content">
                    <!-- Dropdown menu items -->
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>

            <!-- Language dropdown -->
            <div class="dropdown">
                <button class="language-button">Language</button>
                <div class="dropdown-content">
                    <!-- Dropdown menu items for language selection -->
                    <a href="#">한국어</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>

        <button class="close-button" id="closeButton">
          <img src="../static/src/close.png" alt="Close" width="20" height="20">
      </button>


        <div class="img-area">
            <span class="mike_img">
                <img src="{% static 'src/mic.png' %}" id="micButton" />
            </span>
            <p class="title">입력을 원하시면 마이크 버튼을 눌러주세요.</p>
        </div>
        <div class="input_text" id="inputText"></div>


        <div class="footer">
            <div class="button-wrapper">
                <img src="{% static 'src/replay.png' %}" id="replayButton" alt="Repeat" width="30" height="30">
                <span id="replay">다시 입력하기</span>
            </div>
            <div class="button-wrapper">
                <img src="{% static 'src/next.png' %}" id="nextButton" alt="Next" width="30" height="30">
                <span id="next">결과 확인하기</span>
            </div>
        </div>
    </div>

<script>
document.getElementById('micButton').addEventListener('click', function() {
    document.querySelector('.title').innerText = "입력 중입니다. 말씀해주세요.";
    fetch('/get_voice/') 
        .then(response => response.json())  
        .then(data => {
            // 여기에서 서버에서 받은 JSON 데이터(data)를 활용하여 원하는 동작을 수행
            console.log(data);

            if(Object.keys(data)[0] == 'transcription') {
                document.getElementById('inputText').innerText = JSON.stringify(data['transcription'], null, 2);
            } else {
                document.getElementById('inputText').innerText = JSON.stringify(data['error'], null, 2);
            }
            // console.log()
            // document.getElementById('inputText').innerText = JSON.stringify(data, null, 2);
        })
        .catch(error => console.error('Error:', error));
});

/* 결과 페이지로 넘어가기 */
// document.getElementById('nextButton').addEventListener('click', function () {
//     window.location.href = "{% url 'voice_output_page' %}";  // 'your_view_name'은 대상 뷰의 이름
// });

document.getElementById('nextButton').addEventListener('click', function () {
    var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;  // Django에서 사용하는 CSRF 토큰
    console.log(csrfToken)
    console.log(document.getElementById('inputText').innerText)
    fetch('/voice_output/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken  // Django CSRF 토큰을 헤더에 추가
        },
        body: 'user_sentences='+document.getElementById('inputText').innerText  // 전송할 파라미터 설정
    })
    .then(response => response.json())  // 원하는 형식으로 응답을 처리할 수 있습니다.
    .then(data => {
        // 페이지 이동 또는 응답에 따른 다른 동작 수행
        window.location.href = '/voice_output/';
    })
    .catch(error => console.error('Error:', error));
});



/* 다시 입력페이지로 */
document.getElementById('replayButton').addEventListener('click', function () {
    window.location.href = "{% url 'voice_page' %}";  // 'your_view_name'은 대상 뷰의 이름
});

    /* 메인 페이지로 이동 */
    document.getElementById('closeButton').addEventListener('click', function () {
    
    window.location.href = "{% url 'main_page' %}";  // 'your_view_name'은 대상 뷰의 이름
});
</script>

</body>
</html>




