/* Main */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 기존 코드 유지 */
  width: 360px;
  height: 740px;
  background: #3DB2FF;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
  z-index: 1000; /* 다른 요소 위에 놓이도록 설정 */
}

/* Logo */
.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  max-height: 50px; /* 로고 이미지의 최대 너비 설정 */
  width: auto; /* 높이 자동 조정 */
}

/* Image area */
.image-area {
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
  max-height: calc(100vh - 200px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-area img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* Service area */
.service-area {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.service-button {
  display: inline-block;
  border: none;
  margin: 10px 0;
  padding: 8px 20px;
  background-color: #0693F1;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  width: 300px;
}

/* Select area */
.select-area {
  width: 360px;
  max-width: calc(100% - 40px); /* 오른쪽 및 왼쪽 패딩을 고려한 값으로 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 설정 */

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Modified styling for select elements */
.select-button {
  padding: 5px 5px; /* Padding 수정 */
  font-size: 16px; /* Font 사이즈 수정 */
  border-radius: 25px; /* 테두리를 더 둥글게 만듦 */
  border: 2px solid #0693F1; /* 테두리 추가 및 색상 설정 */
  width: 120px; /* 너비 조정 */
  outline: none; /* 기본 포커스 스타일 제거 */
  transition: border-color 0.3s ease-in-out; /* 변화에 애니메이션 효과 추가 */

  /* 추가적인 선택적 스타일링 */
  /* 만약 선택된 요소에 대한 스타일을 원한다면 다음 스타일을 사용할 수 있습니다. */
  /* 예를 들어, 선택된 요소의 배경색을 변경하려면 아래 스타일을 사용하세요. */
  /* background-color: #0693F1; */
}

/* Hover 효과 */
.select-button:hover {
  border-color: #FFFFFF; /* Hover 효과 시 테두리 색상 변경 */
}
.select-area img {
  max-width: 20px;
  margin: 0 5px;
}
