/* Main */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 기존 코드 유지 */
  width: 360px;
  height: 740px;
  background: #3DB2FF;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
  z-index: 1000; /* 다른 요소 위에 놓이도록 설정 */
}

/* Logo */
.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  max-height: 50px; /* 로고 이미지의 최대 너비 설정 */
  width: auto; /* 높이 자동 조정 */
}

/* Image area */
.image-area {
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
  max-height: calc(100vh - 200px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-area img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* Service area */
.service-area {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.service-button {
  display: inline-block;
  border: none;
  margin: 10px 0;
  padding: 8px 20px;
  background-color: #0693F1;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  width: 300px;
}

/* Select area */
.select-area {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.select-area img {
  max-width: 20px;
  margin: 0 5px;
}
